:root {
    --blue: #00AEEF;
    --green: #00A651;
}
body {
    font-family: SF Pro Rounded;
    margin: 0;
    padding: 0;
}
h1, h2, h3 {
    margin:0;
    padding:0;
}

p {
    font-size: 24px;
    font-weight: bold;
}

p.lg {
    font-size: 32px;
    font-weight: bold;
}

button {
    background-color: var(--blue);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-family: SF Pro Rounded;
    font-size: 24px;
    font-weight: bold;
}